<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <display-name>G14_HayatoSagyo</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountRegisterServlet</display-name>
    <servlet-name>AccountRegisterServlet</servlet-name>
    <servlet-class>servlet.AccountRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountRegisterServlet</servlet-name>
    <url-pattern>/AccountRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>servlet.LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TopServlet</display-name>
    <servlet-name>TopServlet</servlet-name>
    <servlet-class>servlet.TopServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TopServlet</servlet-name>
    <url-pattern>/TopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMenuListServlet</display-name>
    <servlet-name>AdminMenuListServlet</servlet-name>
    <servlet-class>servlet.AdminMenuListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenuListServlet</servlet-name>
    <url-pattern>/AdminMenuListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToggleVisibleServlet</display-name>
    <servlet-name>ToggleVisibleServlet</servlet-name>
    <servlet-class>servlet.ToggleVisibleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToggleVisibleServlet</servlet-name>
    <url-pattern>/ToggleVisibleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMenuAddServlet</display-name>
    <servlet-name>AdminMenuAddServlet</servlet-name>
    <servlet-class>servlet.AdminMenuAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenuAddServlet</servlet-name>
    <url-pattern>/AdminMenuAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminMenuEditServlet</display-name>
    <servlet-name>AdminMenuEditServlet</servlet-name>
    <servlet-class>servlet.AdminMenuEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminMenuEditServlet</servlet-name>
    <url-pattern>/AdminMenuEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenServlet</display-name>
    <servlet-name>KitchenServlet</servlet-name>
    <servlet-class>servlet.KitchenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenServlet</servlet-name>
    <url-pattern>/KitchenServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenConfirmServlet</display-name>
    <servlet-name>KitchenConfirmServlet</servlet-name>
    <servlet-class>servlet.KitchenConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenConfirmServlet</servlet-name>
    <url-pattern>/KitchenConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCompleteServlet</display-name>
    <servlet-name>KitchenCompleteServlet</servlet-name>
    <servlet-class>servlet.KitchenCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCompleteServlet</servlet-name>
    <url-pattern>/KitchenCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCompletedServlet</display-name>
    <servlet-name>KitchenCompletedServlet</servlet-name>
    <servlet-class>servlet.KitchenCompletedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCompletedServlet</servlet-name>
    <url-pattern>/KitchenCompletedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCancelConfirmServlet</display-name>
    <servlet-name>KitchenCancelConfirmServlet</servlet-name>
    <servlet-class>servlet.KitchenCancelConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCancelConfirmServlet</servlet-name>
    <url-pattern>/KitchenCancelConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCancelCompleteServlet</display-name>
    <servlet-name>KitchenCancelCompleteServlet</servlet-name>
    <servlet-class>servlet.KitchenCancelCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCancelCompleteServlet</servlet-name>
    <url-pattern>/KitchenCancelCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>KitchenCompletedClearServlet</display-name>
    <servlet-name>KitchenCompletedClearServlet</servlet-name>
    <servlet-class>servlet.KitchenCompletedClearServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KitchenCompletedClearServlet</servlet-name>
    <url-pattern>/KitchenCompletedClearServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallBeforeServlet</display-name>
    <servlet-name>HallBeforeServlet</servlet-name>
    <servlet-class>servlet.HallBeforeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallBeforeServlet</servlet-name>
    <url-pattern>/HallBeforeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServeConfirmServlet</display-name>
    <servlet-name>HallServeConfirmServlet</servlet-name>
    <servlet-class>servlet.HallServeConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServeConfirmServlet</servlet-name>
    <url-pattern>/HallServeConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServeCompleteServlet</display-name>
    <servlet-name>HallServeCompleteServlet</servlet-name>
    <servlet-class>servlet.HallServeCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServeCompleteServlet</servlet-name>
    <url-pattern>/HallServeCompleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallServedServlet</display-name>
    <servlet-name>HallServedServlet</servlet-name>
    <servlet-class>servlet.HallServedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallServedServlet</servlet-name>
    <url-pattern>/HallServedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallCancelConfirmServlet</display-name>
    <servlet-name>HallCancelConfirmServlet</servlet-name>
    <servlet-class>servlet.HallCancelConfirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallCancelConfirmServlet</servlet-name>
    <url-pattern>/HallCancelConfirmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HallCancelCompleteServlet</display-name>
    <servlet-name>HallCancelCompleteServlet</servlet-name>
    <servlet-class>servlet.HallCancelCompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HallCancelCompleteServlet</servlet-name>
    <url-pattern>/HallCancelCompleteServlet</url-pattern>
  </servlet-mapping>
</web-app>